/* profiles.css */

/* Profile Container */
.profile-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  /*background-color: antiquewhite;*/
  border-color: black;
  margin-top: 1.2em;
  padding-top: 1em;
}
  
/* Individual Profile Items */
.flex {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: antiquewhite
}

/* Highlighting Specific User */
.flex.highlight {
  background-color: #ffcc00; /* Yellow background for highlighting */
}

/* Profile Image */
.flex img {
  width: 50px;
  height: 50px; /* Adjusted height to maintain the aspect ratio */
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 1.2em;
}

/* User Information */
.info {
  flex: 1;
}

/* Score and Submission Time */
.score-time {
  margin-left: 20px;
}

/* Heading Styles */
h3 {
  margin: 6px;
}

/* Highlighting Rank 1 */
.flex:nth-child(1) {
  position: sticky;
  top: 1.2em;
  z-index: 1;
  background-color:rgb(207, 192, 170); /* Light yellow background for rank 1 */
  margin-bottom: 1.2em;
}

body{
  margin-top: 1.2em;
}